* {
    margin: 0;
    box-sizing: border-box;
    
}
.Background {
    background-color: rgb(16, 18, 24);
    background-repeat: no-repeat;
    background-size: cover;
}

.page {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}