.KonserInfoCard{
    top:75px;
    position: absolute;
    left: 900px;
    margin-bottom: 500px;
    background: var(--primary-btn);
    margin-top: 1em ;
    width: 20%;
    height: 350px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    margin: 5em;
    justify-content: space-around;
    background-color: rgb(33, 37, 41);
  }
  .KonserInfoCard h1 {
    top:40px;
    position: absolute;
    color:aliceblue;
    margin-bottom: 100px;
    margin: 0;
    font-size: 20px;
  }
  .Gambar img{
    top:50px;
    margin-bottom: 650px;
    margin-left: 250px;
      position: relative; 
  }
  .details {
    color: white;
    position: absolute;
    top:100px;
    justify-content: center;
    font-size: 12px;
  }
  .BuyCard{
    top:475px;
    position: absolute;
    left: 900px;
    margin-bottom: 500px;
    background: var(--primary-btn);
    margin-top: 1em ;
    width: 20%;
    height: 130px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    margin: 5em;
    justify-content: space-around;
    background-color: rgb(33, 37, 41);
  }
  .BuyCard p{
    color: white;
    position: absolute;
    top:20px;
    justify-content: center;
    font-size: 12px;
  }
  .BuyNowButton {
    margin-top: 30px;
    align-items: center;
    background-color: rgb(5, 41, 153);
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 35px;
    padding-right: 35px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
  }
  .Description h1{
    position: absolute;
    bottom: 110px;
    left: 470px;
  }
  .Description p{
    position: absolute;
    text-align: justify;
    width: 700px;
    height: 100px;
    bottom: unset;
    top: 630px;
    left: 250px;
  }
  .ViewProfileButton{
    position: absolute;
    top: 299px;
    align-items: center;
    background-color: rgb(5, 41, 153);
    border: 0;
    border-radius: 100px;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 20px;
    max-width: 480px;
    min-height: 40px;
    min-width: 0px;
    overflow: hidden;
    padding: 0px;
    padding-left: 35px;
    padding-right: 35px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
  }